@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: #ededed;
    --background: #0a0a0a;
  }
}

html, body {
  height: 100%;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}

html::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box; 
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
